[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Vista previa del archivo adjunto Actividad8.pdf [PDF] 299 KB
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=0b516c9dfc&view=att&th=15403ac5bd3ef37b&attid=0.1&disp=safe&realattid=f_imvizb2m0&zw
Icon=text-html
